* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #B967B6;
    --secondary-color: #d89bc4; 
    --teritary-color: #8e8b8b;
}
body {
    color:var(--teritary-color);
    font-family:'Arial', 'Helvetica', 'sans-serif';
}
/* header section start */
header {
    padding:15px 30px;
    background-color: #F7F9EA;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    font-size: 40px;
    background-color:#f2ceef;
    width: 20%;
    border-radius: 10px;
    margin-right: auto;
}

header a {
    text-decoration: underline;
    color:var(--primary-color);
}

header h1 a {
    text-decoration: none;
}

header nav {
    margin:5px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(174, 69, 123, 0.5);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color:rgba(114, 39, 109, 0.5);
    border-radius: 15px;
    text-shadow: none;
}
/* Header section ends */

/*Hero section start */
.hero{
    background-image: url(./Images/Untitled\ design.png);
    width: auto;
    height: 200px;
    object-fit: contain;
    position: relative;
    
} 

.hero-cta {
    color: var(--primary-color);
    font-size: 20px;
    line-height: 5;
    position: absolute;
    bottom: 0;
    right:0;
}

/* Hero section ends */

/* Section/border css start */